<% layout('layouts/base') %>

<div class="container">

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">IFFCO-MC Agro-Chemicals</h1>
          <p class="col-md-8 fs-4">Admin Dashboard</p>
        </div>
    </div>

    <div class="row align-items-md-stretch g-3">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Order Details</h2>
          <p>Management of orders placed by our Channel Partners</p>
          <a class="btn btn-outline-light" type="button" href="/orders">Explore</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark border rounded-3">
          <h2>Inventory Management</h2>
          <p>Add new products and categories of Agro-Chemicals</p>
          <a class="btn btn-outline-light" type="button" href="/products">Explore</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark border rounded-3">
          <h2>Channel Partner KYC</h2>
          <p>Manage channel partners</p>
          <a class="btn btn-outline-light" type="button" href="/partners">Explore</a>
        </div>
      </div>
    </div>
    
</div>